<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Detail</title>
</head>
<body>

{% block content %}
<main>
  <div>
    <h1>{{ todolist.name }}</h1>
    <h2>Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Due date</th>
        </tr>
      </thead>
      <tbody>

       {% for item in todolist.items.all %}
        <tr>
            <td>{{item.task}}</td>
            <td>{{ item.due_date|date:"M d, Y" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}
</body>
</html>
